<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= htmlWebpackPlugin.options.title %></title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

  <% if (webpackConfig.htmlElements.headTags) { %>
  <!-- Configured Head Tags  -->
  <%= webpackConfig.htmlElements.headTags %>
  <% } %>

  <!-- base url -->
  <base href="<%= htmlWebpackPlugin.options.metadata.baseUrl %>">

  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" type="text/css" href="assets/css/toaster.css" />

  <script src="assets/js/jquery-1.11.1.js"></script>
  <script src="assets/bootstrap/js/bootstrap.min.js"></script>

  <script src="assets/js/bootstrap-hover-dropdown.min.js"></script>
  <script src="assets/js/wow.min.js"></script>
  <script src="assets/js/retina-1.1.0.min.js"></script>
  <script src="assets/js/jquery.magnific-popup.min.js"></script>
  <script src="assets/flexslider/jquery.flexslider-min.js"></script>
  <script src="assets/js/jflickrfeed.min.js"></script>
  <script src="assets/js/masonry.pkgd.min.js"></script>
  <script src="assets/js/jquery.ui.map.min.js"></script>
  <script src="assets/js/fullcalendar.js"></script>
  <script src="assets/js/scripts.js"></script>
  <script src="assets/js/jquery.backstretch.js"></script>


</head>

<body>

  <app>
    <div class="loader"></div>
    <p style="text-align: center; color: #333">CARGANDO SPOTTER SAVER</p>
  </app>

  <!-- Google Analytics: change UA-71073175-1 to be your site's ID -->
  

  <% if (htmlWebpackPlugin.options.metadata.isDevServer && htmlWebpackPlugin.options.metadata.HMR !== true) { %>
  <!-- Webpack Dev Server reload -->
  <script src="/webpack-dev-server.js"></script>
  <% } %>


</body>
</html>