<h1>Logged</h1>

<div class="work-container">
	        <div class="container">
	        	<div class="row">
		            <div class="col-sm-6 wow fadeIn animated" style="visibility: visible; animation-name: fadeIn;">
		                <h2>Reservaciones Populares</h2>
		            </div>
	            </div>
	            <div class="row">
	            	<div class="col-sm-3">
		                <a href="#">
			                <div class="work wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
			                    <img src="../../../../assets/img/BMN/saybe.jpg" style="height: 200px" alt="Lorem Website" data-at2x="assets/img/portfolio/work1.jpg">
			                    <h3>Teatro José F. Saybe</h3>
			                </div>
		                </a>
	                </div>
	                <div class="col-sm-3">
		                <div class="work wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
		                    <img src="assets/img/BMN/copantl.JPG" style="height: 200px" alt="Lorem Website" data-at2x="assets/img/portfolio/work1.jpg">
		                    <h3>Copantl Hotel</h3>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="work wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
		                    <img src="assets/img/BMN/applebees.jpg" style="height: 200px" alt="Lorem Website" data-at2x="assets/img/portfolio/work1.jpg">
		                    <h3>Applebee's Restaurant</h3>
		                </div>
	                </div>
	                <div class="col-sm-3">
		                <div class="work wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
		                    <img src="assets/img/BMN/primavera.jpg" style="height: 200px" alt="Lorem Website" data-at2x="assets/img/portfolio/work1.jpg">
		                    <h3>Hotel Boutique Primavera</h3>
		                </div>
	                </div>
	            </div>
	        </div>
        </div>