<div class="collapse navbar-collapse" id="top-navbar-1">
  <ul class="nav navbar-nav navbar-right">
      <li>
          <a [routerLink]="['/logged/home']" routerLinkActive="router-link-active"><span aria-hidden="true" class="icon_house"></span><br>Home</a>
      </li>
      <li>
          <a [routerLink]="['/nosotros']" routerLinkActive="router-link-active"><span aria-hidden="true" class="icon_profile"></span><br>About us</a>
      </li>
      <li>
          <a [routerLink]="['/contacto']" routerLinkActive="router-link-active"><span aria-hidden="true" class="icon_mail"></span><br>Contact us</a>
      </li>
      <li>
          <a [routerLink]="['/register']" routerLinkActive="router-link-active"><span aria-hidden="true" class="icon_mail"></span><br>Register</a>
      </li>
      <li>
          <a [routerLink]="['/login']" routerLinkActive="router-link-active"><span aria-hidden="true" class="icon_mail"></span><br>Login</a>
      </li>
  </ul>
</div>