<div class="body">
	<div class="about-us-container">
		<div class="container">
	        <div class="row">
	            <div class="col-sm-12 about-us-text wow fadeInLeft" style="background-color: #E1E0E0; border-radius: 10px; box-shadow: 10px 10px 5px #525252;">
	                <h3>Spotter Saver</h3>
	                <p style="font-size: 16px">
	                	Nuestro servicio agiliza la reservación de cualquier entrada a un evento o salones completos para ser anfitrión de un evento como tal. Innovamos manteniendo siempre actualizada la lista de ubicaciones para mayor comodidad y accesibilidad de nuestros clientes.


						Buscamos optimizar el proceso de organización y asistencias a actividades sociales para mayor satisfacción tanto de aquellos que desean mantenerse actualizados de cada evento social como de los organizadores y anfitriones de cada uno de los mismos.

	                </p>
	                <h3>Nuestra Misión</h3>
	                <p style="font-size: 16px">
	                	Facilitar las transacciones y reservas de nuestros usuarios con nuestra página web, ahorrándoles tiempo y dándoles comodidad, mientras ayudamos a nuestros afiliados aumentar sus ventas a través de las transacciones en línea.

	                </p>
	                <h3>Nuestra Visión</h3>
	                <p style="font-size: 16px">
	                	Ser para el 2018 el servicio predeterminado para reservas y transacciones en línea para todo tipo de evento social y recreativo en Honduras.

	                </p>
	            </div>
	        </div>
	    </div>
	</div>
</div>