<style type="text/css">
    .col-sm-6 {
    width: 100%;
    }
    .col-sm-offset-3 {
     margin-left: 0; 
    }

    .input-group {
        padding: 2px;
        border-radius: .5rem;
        border: 2px solid #674172;
    }

    #imaginary_container {
        border-radius: .5rem;
    }
</style>

<div class="blue-bg">
    <div class="container">
    	<div class="row">
            <form class="col-sm-6 col-sm-offset-3" (ngSubmit)="search()">
                <div id="imaginary_container"> 
                    <div class="input-group stylish-input-group">
                        <input class="form-control" [(ngModel)]="search_text" [ngModelOptions]="{standalone: true}" placeholder="Search" type="text">
                        <span class="input-group-addon">
                            <button type="submit">
                                <span class="glyphicon glyphicon-search"></span>
                            </button>  
                        </span>
                    </div>
                </div>
            </form>
    	</div>
    </div>
</div>