<h1>Unlogged</h1><div class="body">
<header id="myCarousel" class="carousel slide">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators
        <ol class="carousel-indicators">
            <li *ngFor="let img of items; let i=index" data-target="#myCarousel" data-slide-to="" class="{{i == 0 ? 'active' : ''}}"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
            <div *ngFor="let img of items; let i=index" class="item {{i == 0 ? 'active' : ''}} ">
                <img class="fill img-responsive center-block" src={{img.imgurl}}>
                <div class="flex-caption">
                    <p>{{img.description}}</p>
                </div>
            </div>

        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</header>
</div>