<div class="body">
    <div class="container-center">
        <div class="row">
            <form (ngSubmit)="createEvent()">
               
                <div class="form-group">
                    <label style="float: left">Event Name:</label>
                    <div class="form-control">
                        <input class="form-control" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label style="float: left">Event Address:</label>
                    <div class="form-control">
                        <input class="form-control" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label style="float: left">Cost:</label>
                    <div class="form-control">
                        <input class="form-control" type="number" required>
                    </div>
                </div>
                <div class="form-group">
                    <label style="float: left">Type: </label>
                    <div class="form-control">
                        <input class="form-control" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label style="float: left">Capacity:</label>
                    <div class="form-control">
                        <input class="form-control" type="number" required>
                    </div>
                </div>
                <div class="form-group">
                    <label style="float: left">Availables:</label>
                    <div class="form-control">
                        <input class="form-control" type="number" required>
                    </div>
                </div>
                <div class="form-group">
                    <label style="float: left">Category:</label>
                    <div class="form-control">
                        <input class="form-control" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label style="float: left">Date:</label>
                    <div class="form-control">
                        <input class="form-control" type="date" required>
                    </div>
                </div>
                <div class="form-group">
                    <label style="float: left">Begins at:</label>
                    <div class="form-control">
                        <input class="form-control" type="time" required>
                    </div>
                </div>
                <div class="form-group">
                    <label style="float: left">Description</label>
                    <div class="form-control">
                        <input class="form-control" type="text" required>
                    </div>
                </div>
                <div class="form-group">
                    <label style="float: left">Image</label>
                    <div class="form-control">
                        <input class="form-control" type="file" required>
                    </div>
                </div>
                
                <br>
                <input type="submit" class="btn btn-primary" value="Save">
            
            </form>
        </div>
    </div>
</div>